.mapContainer {
  width: 100%;
  height: 100%; /* 부모 컨테이너(600px)를 꽉 채움 */
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #94a3b8;
}
